@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,400,700);

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  font:19px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.container {max-width: 800px;}

/*
 * Global add-ons and styles
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

p, ul, ol, table, pre, dl {
  margin:0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  font-weight: 700;
}

h1, h2, h3 {
  line-height:1.3;
}

h1 {
  margin:50px 0 30px 0;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  color:#393939;
  font-size:27px;
  margin:40px 0 10px 0;
  font-weight:300;
}

h3 {
  font-size: 20px;
  margin:0px 0 20px 0;
}

h3, h4, h5, h6 {
  color:#494949;
}

.row.step {
  margin-top:10px;
  margin-bottom:60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

span.warning {
  font-size: 12px;
  font-weight: 400;
  color: rgb(193, 8, 8);
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.update {
  background-color: #fce2e4;
  padding: 25px;
  margin-bottom: 30px;
  border: 1px solid red;
  max-width: 800px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar content */

.main img {
  max-width: 100%;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  max-width: 800px;
  width: 80%;
  margin-right: auto;
  margin-left:5%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left:15px;
  }
}

.current-status p {
  margin-bottom:5px;
  margin-left:10px;
}

.instructions {
  max-width: 1200px;
  width: 90%;
  margin-top:0;
  font-size:17px;
}

.instructions li {
  margin-top:10px;
}

.troubleshooting {font-size: 13px; font-weight: 400; width: 90%; margin: 0 auto;}
code {white-space: normal; font-size: 10px; margin-top:;}

.main.datatable h2{
  margin-top:0;
}

.main.datatable {
  padding-top:0;
  }

table {
  font-size:17px;
  margin-top:25px;
}

table img {
}

.table>tbody>tr>td {
}

table i {
  font-size: 24px;
}

/* Responsive video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

